# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Build files
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Output files
*.csv

# OS
.DS_Store
Thumbs.db